nav#back {
    margin: 50px 30px;
    text-decoration: none;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    width: 100px;
}

main {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center   
}

.flower-img-div {
    padding-top: 5dvh;
    display: flex;
    justify-content: center;
    width: 50%;
}

.flower-img {
    border-radius: 20px;
    box-shadow: 0px 15px 5px rgba(0, 0, 0, 0.267);
}

#Roses_images {
    width: 100dvw;
    margin: 60px;
}

#Tulipes_images {
    width: 45dvw;
    margin: 60px;
}

#Renoncule_images {
    width: 50dvw;
    margin: 60px;
}

#Wax_images {
    width: 45dvw;
    margin: 60px;
}

#Fraisea_images {
    width: 47dvw;
    margin: 60px;
}

#Cyclamen_images {
    width: 45dvw;
    margin: 60px;
}

#Rosier_images {
    width: 45dvw;
    margin: 60px;
}

.wiki {
    width: 50%;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: inherit;
    padding-bottom: 12dvw;
}

#Solanome_images {
    width: 42dvw;
    margin: 60px;
}

#Auturium_images {
    width: 45dvw;
    margin: 60px;
}

#Spatyphilium_images {
    width: 45dvw;
    margin: 60px;
}

#Fougeres_images {
    width: 45dvw;
    margin: 60px;
}

#Orchidees_images {
    width: 45dvw;
    margin: 60px;
}

@media (max-width: 1879px) {
    main {
        flex-direction: column;
        padding-bottom: 120dvw;
    }

    .flower-img {
        margin-top: 12dvh;
    }

    .wiki {
        margin-bottom: 1dvw;
        padding: 12dvh;
    }

}