* {
    box-sizing: border-box;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
}

:root {
    --title-font: "Pacifico", cursive;
    --main-font: "Madimi One", sans-serif;
    --sub-font: 'Gamja Flower', sans-serif;
    --link-color: #006992;

    --black-font-color: #02111B;
    --white-font-color: #fbffff;
    
    --black-font-color-card: #02111B;
    --white-font-color-card: #fbffff;
    
    --background-color: #c1e857;
    --secondary-background-color: #325327;

    --day: #325327;
}


::-webkit-scrollbar {
    width: 0px;
}

html {
    scroll-behavior: smooth;
    scroll-snap-align: start;
    scroll-snap-type: proximity;
    scrollbar-color: var(--black-font-color) #ffffff00;
    scrollbar-width: none;
}

body {
    /* background: linear-gradient(var(--secondary-background-color) , var(--background-color)); */
    background-color: var(--background-color);
    color: var(--black-font-color);
    font-family: var(--main-font);
    scrollbar-width: thin;
    
    transition: background-color 0.1s ease-in-out;
}

html, body {
    width: 100%;
    height: 100%;
}

nav#main {
    margin: 50px 30px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav a {
    position: relative;
    text-decoration: none;
    color: var(--black-font-color);
    font-size: 30px;
    font-family: var(--sub-font);
    margin: 0 10px;
}

nav a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto;
    background-color: var(--black-font-color);
    content: "";
    width: 0%;
    height: 2px;
    transition: width 0.2s ease-in-out;
}

nav a:hover::after {
    width: 100%;
    transition: width 0.2s ease-in-out;
}

/* Boutton */
 
.night_theme_button {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
} 

.switch {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-font-color);
    height: 30px;
    width: 30px;
    margin: 10px;
    border-radius: 100%;
    background-color: var(--day);
    cursor: pointer;
    border: 2px ridge white;
}

.switch img {
    width: 20px;
}

#title_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

#title_div .title {
    text-align: center;
    font-size: 32dvh;
    font-family: var(--title-font);
    letter-spacing: 1px;
}

#title_div .subtitle {
    font-family: var(--sub-font);
}

#title_div .subtitle:first-letter {
    text-transform: uppercase;
}

#title_div .see-more {
    text-decoration: none;
    color: var(--black-font-color);
    font-size: 30px;
    font-family: var(--sub-font);
    margin: 0 10px;
}


.category {
    padding: 40px 40px;
    margin: 40px 20px;
    
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: inherit;
}

.category-name {
    text-align: center;
    font-size: 60px;
    font-family: var(--title-font);
    letter-spacing: 1px;
}

/* Flowers Cards */

.flowers_card_grid {
    display: grid;
    grid-auto-columns: minmax(25dvw, 25dvw);
    grid-gap: 3dvw;
    grid-auto-flow: column dense;
    
}

.flowers_card {
    height: 25dvw;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    background-color: #fff;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    
    overflow: hidden;
}

.flowers_card .card_title {
    font-size: 8dvh;
    text-align: center;
}

.flowers_card .description {
    margin: 15px;
    font-size: 1.2dvw;
    text-align: center;
    display: none;
}

.flowers_card a {
    padding: 20px;
    background-color: #FF3526b5;
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    border-radius: 5px;
}

.flowers_card a i {
    margin-left: 5px;
}

.card {
    /* 3D EFFECT */
    transform:
        perspective(1000px)
        rotateX(4deg)
        rotateY(16deg)
        rotateZ(-4deg)
        scale(0.9);
    box-shadow: -15px 15px 10px #2a0e2663;

    /* SMOOTHING */
    transition: all 0.4s ease-in-out;
}

.card:hover {
    /* 3D EFFECT */
    transform:
        perspective(1000px)
        rotateX(0deg)
        rotateY(0deg)
        rotateZ(0deg)
        scale(1.1);
    box-shadow: 
        -10px 10px 10px #2a0e2663,
        6px -6px 10px #2a0e2647;

    /* SMOOTHING */
    transition: all 0.4s ease-in-out;
}


/* Flower cards custom */

#red_naomi {
    background-image: url("../pictures/roses.jpg");
    color: var(--white-font-color-card);
}

#red_naomi a {
    background-color: red;
}

#renoncule {
    background-image: url("../pictures/renoncule.jpg");
    color: var(--white-font-color-card);
}

#renoncule a {
    color: var(--white-font-color-card);
    background-color: #fc86c2;
}

#tulipe {
    background-image: url("../pictures/tulipes.jpg");
    color: var(--black-font-color-card);
}

#tulipe a {
    color: var(--white-font-color-card);
    background-color: #fc86c2;
}

#wax {
    background-image: url("../pictures/wax.jpg");
    color: var(--white-font-color-card);
}

#wax a {
    color: var(--white-font-color-card);
    background-color: red;
}

#fraisea {
    background-image: url("../pictures/fraisea.png");
    color: var(--black-font-color-card);
}

#fraisea a {
    color: var(--white-font-color-card);
    background-color: red;
}

#cyclamen {
    background-image: url("../pictures/cyclamen.jpg");
    color: var(--white-font-color-card);
}

#cyclamen a {
    background-color: red;
}

#rosier {
    background-image: url("../pictures/rosier.jpg");
    color: var(--white-font-color-card);
}

#rosier a {
    background-color: red;
}

#solanome {
    background-image: url("../pictures/Solanome.jpg");
    color: var(--white-font-color-card);
}

#solanome a {
    background-color: red;
}

#auturium {
    background-image: url("../pictures/Anthurium.jpg");
    color: var(--white-font-color-card);
}

#auturium a {
    background-color: #fc86c2;
}

#spatyphilium {
    background-image: url("../pictures/Spatyphilium.jpg");
    color: var(--white-font-color-card);
}

#spatyphilium a {
    background-color: #fc86c2;
}

#fougere {
    background-image: url("../pictures/fougeres.jpg");
    color: var(--white-font-color-card);
}

#fougere a {
    background-color: #fc86c2;
}

#orchidees {
    background-image: url("../pictures/Orchidees.jpg");
    color: var(--white-font-color-card);
}

#orchidees a {
    background-color: #fc86c2;
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    background-color: #19191a;
    height: 20dvw;
}

footer div .link {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(3, 1fr);
}

footer .link a {
    text-align: left;
    text-decoration: none;
    color: inherit;
    padding: 2px 80px 5px 2px;
}

footer .link a i {
    padding-right: 5px;
}

footer p {
    margin: 10px 10px;
    padding: 5px;
}

footer a {
    color: #fff;
}

#sources {
    color: #fff;
    height: 100%;
    font-size: 32px;
}

.back-source a {
    color: #fff;
}

.back-source a::after {
    background-color: #fff;
}

/* Media queries */

@media (max-width: 1060px) {
    footer {
        height: 30dvw;
    }
}